.message-input-wrapper {
  display: flex;
  align-items: center;
  padding: 1%;
  background-color: transparent;
}

.menu-button {
  background: transparent;
  border: none;
  color: #ffffff;
}

.input-wrapper {
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 20px;
  padding: 1% 2%;
}

.message-input {
  flex: 1;
  border: none;
  color: #e0e0e0;
  font-size: 1.3rem;
  outline: none;
  background-color: transparent;
  margin-left: 1%;
}

.attach-button {
  position: relative;
  color: #e0e0e0;
  cursor: pointer;
}

.attach-button input[type='file'] {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.send-button {
  background: rgb(33, 33, 33);
  border: none;
  margin-left: 1%;
  border-radius: 50%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-button:hover {
  background-color: rgb(44, 44, 44);
}
