.telegram {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: rgb(238, 243, 249);
  background-color: rgb(33,33,33);

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #6f747f;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
